# Vercel Postgres Connection Strings
# These variables will be automatically injected by Vercel when you link a Vercel Postgres database to your project.
# For local development, copy the `.env.local` snippet provided by the Vercel Dashboard in the Storage tab.

POSTGRES_URL="postgres://default:xxx@ep-xxx-pooler.region.postgres.vercel-storage.com:5432/verceldb?pgbouncer=true&connect_timeout=15"
POSTGRES_PRISMA_URL="postgres://default:xxx@ep-xxx-pooler.region.postgres.vercel-storage.com:5432/verceldb?pgbouncer=true&connect_timeout=15"
POSTGRES_URL_NON_POOLING="postgres://default:xxx@ep-xxx.region.postgres.vercel-storage.com:5432/verceldb"
POSTGRES_USER="default"
POSTGRES_HOST="ep-xxx.region.postgres.vercel-storage.com"
POSTGRES_PASSWORD="xxx"
POSTGRES_DATABASE="verceldb"

# Accurate API Integration
ACCURATE_CLIENT_ID="2ee000a6-41cb-4db1-bb00-9837a6b5977d"
ACCURATE_CLIENT_SECRET="LW015f8eCg2raxnyB4U7LDKKjGELN2Eb16wsmgqGvYsjoQeQpzYBAaXWegCpgYM5"
ACCURATE_API_TOKEN="aat.NTA.eyJ2IjoxLCJ1IjoxMjgzOTY5LCJkIjoyODY5NjgwLCJhaSI6NzIxODIsImFrIjoiMmVlMDAwYTYtNDFjYi00ZGIxLWJiMDAtOTgzN2E2YjU5NzdkIiwiYW4iOiJLaXJpbUJlcmVzIiwiYXAiOiJiYmU1NTNmNC1kNjA2LTQ1MTMtOTU1YS04YjQxYzAyNjZhMWMiLCJ0IjoxNzg3ODIwNDk1MTYzfQ.ie9eE5KkytFg7iUuSo6x0PcxwkEz+2OG2tasHg/ZkWkKISDaw3+UlvhYWsZ7F6YSEtPbTPe69HwHfvCuA1mijo2bxEedx0vAPoGKNa7aomWm0a2tJhcvC5Hjl5J/RBfexwDGWshyFRaafj373ZrphgSpqUDO6uCh7RpjFN6oj6vUleaHd0S5wvcX+g7hT900SBEUSizpM0A=.ZOk9D28Z36AkECeUsqOxELoixrL4gmz9K9Yg8oJ9x3E"
ACCURATE_DB_ID="2869680"
ACCURATE_OAUTH_CALLBACK="http://localhost:3000/api/accurate/callback"
ACCURATE_HOST="https://account.accurate.id"
