# Vercel Postgres Connection Strings
# These variables will be automatically injected by Vercel when you link a Vercel Postgres database to your project.
# For local development, copy the `.env.local` snippet provided by the Vercel Dashboard in the Storage tab.

POSTGRES_URL="postgres://default:xxx@ep-xxx-pooler.region.postgres.vercel-storage.com:5432/verceldb?pgbouncer=true&connect_timeout=15"
POSTGRES_PRISMA_URL="postgres://default:xxx@ep-xxx-pooler.region.postgres.vercel-storage.com:5432/verceldb?pgbouncer=true&connect_timeout=15"
POSTGRES_URL_NON_POOLING="postgres://default:xxx@ep-xxx.region.postgres.vercel-storage.com:5432/verceldb"
POSTGRES_USER="default"
POSTGRES_HOST="ep-xxx.region.postgres.vercel-storage.com"
POSTGRES_PASSWORD="xxx"
POSTGRES_DATABASE="verceldb"
