-- CreateTable
CREATE TABLE `User` (
    `id` VARCHAR(191) NOT NULL,
    `username` VARCHAR(191) NOT NULL,
    `password` VARCHAR(191) NOT NULL,
    `peran` VARCHAR(191) NOT NULL DEFAULT 'USER',
    `nama` VARCHAR(191) NULL,

    UNIQUE INDEX `User_username_key`(`username`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `Kru` (
    `id` VARCHAR(191) NOT NULL,
    `nama` VARCHAR(191) NOT NULL,
    `jenis_kelamin` VARCHAR(191) NOT NULL,
    `alamat` VARCHAR(191) NOT NULL,

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `Kendaraan` (
    `plat_nomor` VARCHAR(191) NOT NULL,
    `nama_kendaraan` VARCHAR(191) NOT NULL,
    `merek` VARCHAR(191) NOT NULL,

    PRIMARY KEY (`plat_nomor`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `Manifest_Pengiriman` (
    `no_pengiriman` VARCHAR(191) NOT NULL,
    `tanggal_transaksi` DATETIME(3) NOT NULL,
    `id_supir` VARCHAR(191) NOT NULL,
    `id_kenek` VARCHAR(191) NOT NULL,
    `plat_kendaraan` VARCHAR(191) NOT NULL,
    `dibuat_oleh` VARCHAR(191) NULL,

    PRIMARY KEY (`no_pengiriman`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `Faktur_Pengiriman` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `no_pengiriman` VARCHAR(191) NOT NULL,
    `no_faktur` VARCHAR(191) NOT NULL,
    `status` VARCHAR(191) NOT NULL DEFAULT 'TERKIRIM',
    `alasan_retur` VARCHAR(191) NULL,
    `kode_pelanggan` VARCHAR(191) NULL,
    `nama_pelanggan` VARCHAR(191) NULL,
    `alamat_pelanggan` VARCHAR(191) NULL,
    `total_harga` DOUBLE NULL,

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `Rincian_Barang` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `id_faktur` INTEGER NOT NULL,
    `no_faktur` VARCHAR(191) NOT NULL DEFAULT '',
    `nama_barang` VARCHAR(191) NOT NULL,
    `qty` DOUBLE NOT NULL DEFAULT 1,
    `qty_asli` DOUBLE NOT NULL DEFAULT 1,
    `satuan` VARCHAR(191) NOT NULL DEFAULT 'PCS',

    INDEX `Rincian_Barang_no_faktur_idx`(`no_faktur`),
    INDEX `Rincian_Barang_id_faktur_idx`(`id_faktur`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `Riwayat_Pelacakan` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `id_faktur` INTEGER NOT NULL,
    `status` VARCHAR(191) NOT NULL,
    `lokasi` VARCHAR(191) NULL,
    `deskripsi` VARCHAR(191) NULL,
    `diperbarui_oleh` VARCHAR(191) NOT NULL,
    `lat` DOUBLE NULL,
    `lng` DOUBLE NULL,
    `waktu` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `ReturTransaksi` (
    `nomer_retur_pengiriman` VARCHAR(191) NOT NULL,
    `nomer_faktur` VARCHAR(191) NOT NULL,
    `nomer_piked_up` VARCHAR(191) NOT NULL,
    `tanggal_faktur_acc` DATETIME(3) NOT NULL,
    `alasan_retur` VARCHAR(191) NOT NULL,
    `jenis_retur` VARCHAR(191) NOT NULL,
    `created_at` DATETIME(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),

    PRIMARY KEY (`nomer_retur_pengiriman`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `RincianRetur` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `nomer_retur_pengiriman` VARCHAR(191) NOT NULL,
    `nomer_faktur` VARCHAR(191) NOT NULL,
    `nomer_piked_up` VARCHAR(191) NOT NULL,
    `nama_barang` VARCHAR(191) NOT NULL,
    `qty` DOUBLE NOT NULL,
    `satuan` VARCHAR(191) NOT NULL,

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- AddForeignKey
ALTER TABLE `Manifest_Pengiriman` ADD CONSTRAINT `Manifest_Pengiriman_id_supir_fkey` FOREIGN KEY (`id_supir`) REFERENCES `Kru`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `Manifest_Pengiriman` ADD CONSTRAINT `Manifest_Pengiriman_id_kenek_fkey` FOREIGN KEY (`id_kenek`) REFERENCES `Kru`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `Manifest_Pengiriman` ADD CONSTRAINT `Manifest_Pengiriman_plat_kendaraan_fkey` FOREIGN KEY (`plat_kendaraan`) REFERENCES `Kendaraan`(`plat_nomor`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `Manifest_Pengiriman` ADD CONSTRAINT `Manifest_Pengiriman_dibuat_oleh_fkey` FOREIGN KEY (`dibuat_oleh`) REFERENCES `User`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `Faktur_Pengiriman` ADD CONSTRAINT `Faktur_Pengiriman_no_pengiriman_fkey` FOREIGN KEY (`no_pengiriman`) REFERENCES `Manifest_Pengiriman`(`no_pengiriman`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `Rincian_Barang` ADD CONSTRAINT `Rincian_Barang_id_faktur_fkey` FOREIGN KEY (`id_faktur`) REFERENCES `Faktur_Pengiriman`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `Riwayat_Pelacakan` ADD CONSTRAINT `Riwayat_Pelacakan_id_faktur_fkey` FOREIGN KEY (`id_faktur`) REFERENCES `Faktur_Pengiriman`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `ReturTransaksi` ADD CONSTRAINT `ReturTransaksi_nomer_piked_up_fkey` FOREIGN KEY (`nomer_piked_up`) REFERENCES `Manifest_Pengiriman`(`no_pengiriman`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `RincianRetur` ADD CONSTRAINT `RincianRetur_nomer_retur_pengiriman_fkey` FOREIGN KEY (`nomer_retur_pengiriman`) REFERENCES `ReturTransaksi`(`nomer_retur_pengiriman`) ON DELETE CASCADE ON UPDATE CASCADE;

